/* start break fast section */
h2{font-family: 'Yellowtail', cursive;text-align: center;font-size: 60px;color: #dd8f3b;font-weight: 300;}
 h1 {font-size: 50px;text-align: center;padding-bottom: 5px;font-family: 'Anton', sans-serif;letter-spacing: 3px;font-weight: 300;}
 hr{border: 1px solid #dd8f3b;margin: 0px 550px;display: block;margin-top: 10px;}
 .menu_dishes{background-color: rgb(241, 235, 172);margin-top: 0px;padding-top: 60px;}
 .part1{height:800px;}
 .part2{height:950px;}
 .part3{height:700px}
 .part4{height: 800px;}
 .part5{height: 1000px;}






/*end break fast section*/